@charset "UTF-8";

.professor {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #c9f98e, #d1f4a5);
  }

  body {
    min-height: 100vh;
  }

  header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #2accc3;
    text-align: center;
    box-shadow: 0 0.2em 0.5em rgb(214, 205, 205);
  }

  header > img {
    margin-right: auto;
    width: 15%;
  }

  header > h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vw;
    color: rgb(0, 0, 0);
  }

  header .spacer {
    width: 15%;
  }

  .corpo {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0vw;
  }

  main {
    padding: 2vw;
    width: 50%;
    min-height: 70vh;
    background-color: #e4f9ca;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.2em 0.5em rgb(214, 205, 205);
    border-radius: 0px 0px 40px 40px;
  }

  main > h2 {
    margin: 2vw;
    font-size: 2.5vw;
    text-align: center;
    color: #000;
  }

  .corpo_texto {
    margin-top: 0;
    width: 100%;
    max-width: 400px;
    background-color: #f5feea;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.2em 0.5em rgb(214, 205, 205);
    border-radius: 40px;
    padding: 2vw;
  }

  .form-section {
    margin-bottom: 2vw;
    width: 100%;
  }

  .form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .form-section form label {
    margin-bottom: 1vw;
    font-size: 1.5vw;
    width: 100%;
    text-align: left;
  }

  .form-section form input,
  .form-section form textarea,
  .form-section form select {
    margin-bottom: 1vw;
    padding: 0.5vw;
    font-size: 1.2vw;
    border: 1px solid #d5aa00;
    border-radius: 10px;
    width: calc(100% - 1vw);
  }

  .form-section form button {
    background-color: #ffcc00;
    border: solid 1px #d5aa00;
    border-radius: 40px;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 3vw;
    font-size: 1.2vw;
    color: rgb(63, 63, 63);
    font-weight: 600;
    letter-spacing: 0.1vw;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .form-section form button:hover {
    background-color: #ffde59;
    border-radius: 40px;
    box-shadow: 0px 0px 4px #d5aa00;
    font-weight: 700;
    font-style: italic;
    color: rgb(0, 0, 0);
  }}
