@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #d1f4a5;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2accc3;
  text-align: center;
  box-shadow: 0 0.2em 0.5em rgb(214, 205, 205);
}

header > img {
  width: 15%;
  margin: 0 2vw;
}

header > h1 {
  font-size: 4vw;
  color: #ffcc00;
  text-shadow: #000000 1.5px 1.5px 3px;
  margin: 0 2vw;
}

header > div.spacer {
  width: 15%;
  visibility: hidden;
  margin: 0 2vw;
}

.corpo {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.corpo_texto {
  padding: 2vw 3vw 3vw 3vw;
  width: 55%;
  background-color: #e4f9ca;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2em 0.5em rgb(214, 205, 205);
}

.corpo_texto > h2 {
  text-align: center;
}

.GeraBixo1 {
  width: 20%;
  margin-left: 1vw;
}

.materia {
  background-color: #f4f9f4;
  margin: 1vw 0;
  padding: 1vw;
  border-radius: 10px;
  box-shadow: 0 0.2em 0.5em rgb(214, 205, 205);
}

.materia-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.materia h3 {
  margin: 0;
  margin-left: 1vw;
  text-align: left;
  cursor: pointer;
}

.materia-conteudo {
  margin-top: 1vw;
}

.materia .prof {
  display: flex;

  align-items: center;
}

.materia .foto_prof {
  background-color: #00bcd4;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  margin-right: 1vw;
}

.materia .foto_prof img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.materia ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.materia ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
}

.materia ul li input[type="checkbox"] {
  margin-right: 0.5vw;
  margin-left: 4vw;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.links a {
  margin: 0.5vw 0;
  color: #00bcd4;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.esquerda_a {
  max-width: 15vw;
}

.esquerda_a > p > button {
  background-color: #ffde59;
  border-radius: 40px;
  height: 3vw;
  margin: -0.5vw;
  width: 100%;
  font-size: 1vw;
  color: rgb(0, 0, 0);
  font-weight: 600;
  letter-spacing: 0.1vw;
  cursor: pointer;
  box-shadow: 0px 0px 7px #000000c4;
  transition: all 0.4s ease;
}

.esquerda_a > p > button:hover {
  background-color: #ffdc50;
  box-shadow: 0px 0px 4px #00000037;
  font-weight: 700;
  color: rgb(63, 63, 63);
}

.esquerda_a > p {
  padding: 1vw;
  gap: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
}

.direita_a {
  background-color: #f6f6f6;
  width: 15vw;
  height: 14vw;
  margin-top: 2vw;
  padding: 0vw;
  border-radius: 40px;
  box-shadow: 0.1em 0.1em 0.2em rgb(118, 118, 118);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.direita_a h2 {
  margin-bottom: 2vw;
  width: 10vw;
  text-align: center;
}

.direita_a > button {
  border-radius: 40px;
  background-color: #ffde59;
  height: 3.4vw;
  width: 80%;
  font-size: 1vw;
  color: rgb(63, 63, 63);
  font-weight: 600;
  letter-spacing: 0.1vw;
  box-shadow: 1.5px 1.5px 4px #00000085;
  cursor: pointer;
  transition: all 0.4s ease;
}

.direita_a > button:hover {
  background-color: #ffdc50;
  box-shadow: 0px 0px 4px #00000034;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

#Calendario {
  margin-top: 0vw;
  background-color: #f6f6f6;
  padding: 1vw;
  border-radius: 20px;
  box-shadow: 0.1em 0.1em 0.3em rgb(0, 0, 0);
}

#Calendario th,
#Calendario td {
  font-weight: 100;
  border: 0.1vw solid black;
  padding: 0.2vw;
  background-color: #fff5cc;
  text-align: center;
}

#Calendario th {
  background-color: #ffde59;
  padding: 0vw;
}

#header {
  font-size: 1.7vw;
  margin-bottom: 0.5vw;
  text-align: center;
}

.btn {
  cursor: pointer;
  align-self: center;
  justify-content: center;
  padding: 0vw 0.96vw;
  margin: 0.2vw;
  font-size: 0.84vw;
  border-radius: 4px;
  background-color: #2ed4cc;
  box-shadow: 1px 1px 6px #00000036;
  transition: all 0.4s ease;
  color: rgb(44, 44, 44);
  height: 2.1vw;
  font-weight: 600;
  cursor: pointer;
  border: 0.109vw solid black;
}

.btn:hover {
  background-color: #36cfc7;
  box-shadow: 0px 0px 4px #00000017;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
