@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color:#d1f4a5;
  background-image: url('../imagens/fundo.png');
  background-size: 20vw;
}

header {
  width: 100%;  
  height: 9vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Center all items */
  background-color: #2accc3;
  text-align: center;
  box-shadow: 0 0.2em 0.5em rgb(209, 200, 200);
  background-image: url('../imagens/cabecalho.png');
  background-size: 9.5vw;
}

header img {
  width: 15%;
  margin: 0 2vw; /* Add space between items */
}

header h1 {
  font-size: 4vw;
  color: #FFCC00;
  text-shadow: #000000 1.5px 1.5px 3px;
  margin: 0 2vw; /* Add space between items */
}

header div.spacer {
  width: 15%;
  visibility: hidden;
  margin: 0 2vw; /* Add space between items */
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.corpo {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.corpo_texto {
  padding: 2vw 3vw 3vw 3vw;
  width: 55%;
  background-color: #e4f9ca;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2em 0.5em rgb(214, 205, 205);
}

.corpo_texto > p {
  text-align: justify;
  width: 100%;
}

.corpo_texto > p > h1 {
  text-align: center;
}

.corpo_texto > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.esquerda_p {
  max-width: 15vw;
}

.esquerda_p > p > button {
  background-color: #FFDE59;
  border-radius: 40px;
  height: 3vw;
  margin: -0.5vw;
  width: 100%;
  font-size: 1vw;
  color: rgb(0, 0, 0);
  font-weight: 600;
  letter-spacing: 0.1vw;
  cursor: pointer;
  box-shadow: 0px 0px 7px #000000c4;
  transition: all 0.4s ease;
}

.esquerda_p > p > button:hover {
  background-color: #ffdc50;
  box-shadow: 0px 0px 4px #00000037;
  font-weight: 700;
  color: rgb(63, 63, 63);
}

.esquerda_p > p {
  padding: 1vw;
  gap: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
}

.login-form,
.register-form {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0.1em 0.1em 0.3em rgb(0, 0, 0);
  margin-bottom: 20px;
}

.login-form h2,
.register-form h2 {
  margin-top: 0;
  color: #333;
}

.login-form form,
.register-form form {
  display: flex;
  flex-direction: column;
}

.login-form form label,
.register-form form label {
  margin-bottom: 10px;
  color: #555;
}

.login-form form input,
.register-form form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form form button,
.register-form form button,
.login-form form p button,
.register-form form p button {
  border-radius: 4px;
  background-color: #2ed4cc;
  box-shadow: 1px 1px 5px #0000004a;
  transition: all 0.4s ease;
  color: rgb(0, 0, 0);
  height: 2.5vw;
  font-weight: 600;
  cursor: pointer;
}

.login-form form button:hover,
.register-form form button:hover,
.login-form form p button:hover,
.register-form form p button:hover {
  background-color: #36cfc7;
  box-shadow: 0px 0px 4px #00000037;
  font-weight: 700;
  color: rgb(63, 63, 63);
}

.login-form form p,
.register-form form p {
  margin-top: 10px;
  color: #777;
}

.login-form > p {
  margin-top: 2vw;
  color: rgb(0, 0, 0);
  text-align: right;
}

.botao_senha {
  border-radius: 4px;
  background-color: #FFDE59;
  height: 2vw;
  width: 80%;
  color: rgb(63, 63, 63);
  font-weight: 600;
  box-shadow: 1px 1px 6px #0000004a;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 0;
  transition: all 0.4s ease;
}

.botao_senha:hover {
  background-color: #ffdc50;
  box-shadow: 0px 0px 3px #00000037;
  font-weight: 700;
  color: rgb(63, 63, 63);
}

.direita_p {
  background-color: #F6F6F6;
  width: 15vw;
  height: 14vw;
  margin-top: 2vw;
  padding: 0vw;
  border-radius: 30px;
  box-shadow: 0.1em 0.1em 0.3em rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.direita_p h2 {
  margin-bottom: 2vw;
  width: 10vw;
  text-align: center;
}

.direita_p > a {
  width: 75%;
}

.direita_p > a > button {
  border-radius: 40px;
  background-color: #FFDE59;
  height: 3.5vw;
  width: 100%;
  font-size: 1vw;
  color: rgb(63, 63, 63);
  font-weight: 600;
  letter-spacing: 0.1vw;
  box-shadow: 1.5px 1.5px 4px #00000085;
  cursor: pointer;
  transition: all 0.4s ease;
}

.direita_p > a > button:hover {
  background-color: #ffdc50;
  box-shadow: 0px 0px 4px #00000034;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

#Calendario {
  margin-top: 0vw;
  background-color: #f6f6f6;
  padding: 1vw;
  border-radius: 20px;
  box-shadow: 0.1em 0.1em 0.3em rgb(0, 0, 0);
}

#Calendario th,
#Calendario td {
  font-weight: 100;
  border: 0.1vw solid black;
  padding: 0.2vw;
  background-color: #fff5cc;
  text-align: center;
}

#Calendario th {
  background-color: #FFDE59;
  padding: 0vw;
}

#header {
  font-size: 1.7vw;
  margin-bottom: 0.5vw;
  text-align: center;
}

.btn {
  cursor: pointer;
  align-self: center;
  justify-content: center;
  padding: 0vw 0.96vw;
  margin: 0.2vw;
  font-size: 0.84vw;
  border-radius: 4px;
  background-color: #2ed4cc;
  box-shadow: 1px 1px 6px #00000036;
  transition: all 0.4s ease;
  color: rgb(44, 44, 44);
  height: 2.1vw;
  font-weight: 600;
  cursor: pointer;
  border: 0.109vw solid black;
}

.btn:hover {
  background-color: #36cfc7;
  box-shadow: 0px 0px 4px #00000017;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
